/* Home Page Styling */
body{
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navBar{
    position: sticky;
    display:flex;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#navBar>img{
    margin: 15px;
}
ul{
    border: 0px solid black;
    width:80%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 15px;
}
.dropbtn,.navli{
    font-size: 20px;
}
li a, .dropbtn , .navli{
display: inline-block;
color: black;
padding: 14px 16px;
    text-decoration: none;
}
.dropbtn:hover  {
    color:blue ;
}
li.dropdown ,li.navli{
display: inline-block;
}
.list a:hover{
margin:7px;
border-radius:5px;
border:1px solid black;
}
.list {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 250px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
font-size: 17px;
}
.list a {
    color: black;
display: block;
text-align: left;
}
.list a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .list {
display: block;
}
#logo{
width:10%;
height: 10%;
border:0px solid black;
}
button{
padding-right:20px;
padding-left: 20px;;
background-color: blue;
margin-top: 0px;
border-radius: 10px;
border: 0px solid black;
color: white;
font-size: 15px;
font-weight: bold;
}
#Div1{
    border:0px solid black;
    margin: 50px;;
    width:90%;
    display:flex;
    justify-content: space-between;
}
#ContentDiv{
    padding: 30px;
    border:0px solid black;
    width:60%;
    height:300px;
    font-size: 20px;
    margin: auto;
}
#ContentDiv>p{
    font-size: 17px;
    line-height: 25px;
}
.GetStarted{
    height: 50px;
    background-color: blue;
    margin-top: 10px;
    border-radius: 10px;
    border: 0px solid black;
    color: white;
    font-size: 15px;
}
#Video{
        margin:15px;
        background-color: white;
        border:1px solid blue;
        color:blue
}
#Div1>#imgDiv>img{
    width:100%;
    border:0px solid black;
    margin: auto;
}
#brand{
    margin-bottom: 50px;
    display:flex;
    height:120px;
    justify-content: space-evenly;
}
#brand>img{
    width:10%;
    height:50px;
  opacity: 0.7;
}
.customers{
    width:45%;
    border:0px solid black;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    font-size: 16px;
    margin-bottom: 50px;
}
.customers>h3{
    color:blue;
}
.steps{
    border:0px solid black;
    margin: auto;
    margin-top :60px;
    padding:10px;
    width:80%;
    display:flex;
    gap: 30px;
}
.StepsContent>h3{
    color:blue;
}
.steps>.hand>img{
    width:90%;
    border:0px solid black;
    margin:auto;
    
}
.StepsContent{
    padding: 10px;
    border:0px solid black;
    width:1200px;
    height:auto;
    padding: 0px;  
    margin: auto;
}
.StepsContent>p{
    font-size: 16px;
    line-height: 20px;
}
#runningDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 30%;
    border:0px solid black;
    height: 280px;
    text-align: center;
    margin: 30px;
    position: relative;
    padding: 30px;
    border-radius: 15px ;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.circle{
    margin-top:-100px;
    border-radius: 100px;
    width: 120px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    /* position: absolute; */
}
.box p{
    margin: 30px;
}
.box p~img{
    width: 20%;
    color:grey;
    margin: 15px;
}
#number{
    display: flex;
    justify-content:space-around;
    padding: 50px;
    border:0px solid black;
}
#number div>h1{
    font-size: 45px;
    margin:0%;
    padding:0%;
    color:blue
}
#number div>p{
    margin:0%;
    padding:0%;
    text-align: center;
    color:rgb(90, 86, 86);
    font-weight: bold;
}
#help{
    display:flex;
    justify-content: space-between;
    padding: 0px;
    margin: 80px;
    border:0px solid black;

}
#helpcenter{
    border:0px solid black;
    padding: 0px;
    line-height: 30px;
}
#partner{
    width:50%;
    margin: auto;
    text-align: center;
    padding: 50px;
}
#partner div{
    margin: auto;
    text-align: center;
    
}
#partner div>img{
    width: 130px;
    height: 50px;
    margin: 20px;
}
#people{
    width:100%;
    margin-top: 100px;
    border:0px solid black;
    background-color:#4763fc;
    color: white;
}
#people div{
    width: 45%;
    margin: auto;
    padding: 60px;
    line-height: 55px;
    text-align: center;
}
#pink{
    background-color: #e97284 ;
    padding: 30px;
    text-align: center;
    font-size: 18px;
    padding-bottom: 50px;
}
#bottom{
    display: flex;
    width:98%;
    border:0px solid black;
    justify-content: space-around;
    margin-top :120px;
}
.tools{
    width:10%;
    border:0px solid black;
    /* text-align: center; */
    font-size: 17px;
    padding: 10px;
}
.tools>h4{
    font-weight: 1000;
    border:0px solid black

}
.tools p{
    font-weight: 500;
    border:0px solid black

}
.tools p:hover{
cursor:pointer;
color:blue
}
#bufferImg{
    width:45%;
    border:0px solid black
}
.store{
    border:1px solid blue;
    background-color: white;
    color: blue;
    font-size: 10px;
    margin-left :10px;
    border-radius: 10px;
    padding: 10px;
}
.store:hover{
    background-color: rgb(217, 217, 243);
}