

body{
    margin:0px;
    padding:0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px solid black;
}
#form{
    border:0px solid black;
    width:33%;
}
h1{
    color: #3d3d3d;
    font-weight: 0;
}
form{
    border:0px solid firebrick;
    padding-left: 40px;
    padding-right: 25px;
}
input[type="email"],input[type="password"]{
    width: 90%;
    background-color: #FFFFFF;
    height: 48px;
    border-radius: 4px;
    margin:   8px 0px;
    border: 1px solid #B8B8B8;
    font-size: 14px;
    box-sizing: border-box;
}
input[type="submit"]{
    width: 90%;
    background-color:rgb(84, 84, 240);
    height: 48px;
    border-radius: 4px;
    border:0px;
    margin-top:20px;
    color:white;
    font-weight: bold;
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: blue;
}
label{
    font-size: 15px;
    font-weight: 500;
    color:#000000;
}
#bottom{
    display:grid;
    border:0px solid indianred;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    padding-left:38px;
    font-size: 12px;
    font-weight:500;
    color: #696363;
}
#bottom p a{
    text-decoration: none;
    color:#696363
}
#bottom p:hover,#bottom p a:hover{
color:black
}
#image{
    margin: bottom 0px;
    width:67%;
    height: 671.5px;
    padding-right:30px ;
background-color: rgb(250,222,42);
margin-left:30.5%;
margin-top:-36%
}
#para{
    font-size: 20px;
    width: 350px;
    padding-top: 59px;
    border:0px solid black;
    margin:auto;
    margin-left :80px;
}
#para p{
    font-size:17px;
    line-height:20px;
    
}