/* Step3
 Styling */
 body{
    margin: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* NavBar */
#navBar{
    width:99%;
    margin: auto;
    position: sticky;
    display:flex;
    padding-bottom: 0%;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#navBar>img{
    margin: 15px;
}
ul{
    border: 0px solid black;
    width:80%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 15px;
}
.dropbtn,.navli{
    font-size: 20px;
}
li h4, .dropbtn , .navli{
display: inline-block;
color: black;
padding: 14px 16px;
    text-decoration: none;
}
.dropbtn:hover  {
    color:blue ;
}
.list>h4>img{
    width:13%;
    margin-right:5px;
    margin-bottom: -3px;
}
li.dropdown ,li.navli{
display: inline-block;
}
.list h4:hover{
    margin:10px;
border-radius: 10px;
}
.list {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 250px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
font-size: 16px;
width: 20%;
background-color: white;border-radius: 10px;
}
.dropbtnss:hover{
    cursor: pointer;
}
.list h4 {
    color: black;
display: block;
text-align: left;
margin:15px
}
.list h4 p{
    padding-left:35px;
    font-size:12px;
    color:rgb(160, 156, 156);margin-top:10px;
}
.list h4:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    margin: 15px;
}
.dropdown:hover .list {
display: block;
}
#logo{
width:10%;
height: 10%;
border:0px solid black;
}
.navli{
    margin-top:-1px;
    margin-right:0px;
    padding-right:0px
}
.navli:hover{
    color:blue;
    cursor: pointer;
    text-decoration: underline;
}
#log{
    color:#2c4bff
}
/* video Div */
#Div1{
    border:0px solid black;
    margin:auto;
    width:96%;
    display:flex;
    margin-top: 7pc;
    gap: 30px;
    justify-content: space-between;
}
#ContentDiv{
    padding: 30px;
    border:0px solid black;
    width:75%;
    margin: auto;
    margin-top: 3pc;
}
#ContentDiv>h1{
    font-weight: 1200;
    font-size: 43px;
    line-height: 60px;
}
#ContentDiv>div>p{
    border:0px solid;
    line-height: 25px;
    font-weight: 500;
    font-size:16.2px;

}
#ContentDiv>p{
    font-size: 12px;
    ;
}
#Div1>#video>video{
    margin-left: 2pc;
    
}
.GetStarted{
    height: 50px;
    background-color: blue;
    margin-top: 10px;
    border-radius: 10px;
    border: 0px solid black;
    color: white;
    font-size: 17px;
    padding-left:16px;
    padding-right:16px;
}
.GetStarted:hover{
    cursor: pointer;
    background-color: rgb(2, 2, 197);
}
/* Brand */
#brand{
    width:60%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    display:flex;
    height:100px;
    justify-content: space-evenly;
}
#brand>img{
    width:15%;
    height:70px;
    opacity: 0.3;
}


/* Craft and Comment */
.craft{
    width:100%;
    margin: auto;  
    background-image: url(https://buffer.com/static/background/solid-yellow-jagged-bg.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    padding-top:80px;
}
.comments{
    width:50%;
    border:0px solid black;
    margin: auto;
    text-align: center;
    font-size: 16px;
}
.comments>h3{
    color:blue;
}
.comments>p{
    width:68%;
    margin: auto;
    border: 0px solid black;
}
.craft>img{
    margin-left:70px;
    width:87%;
    margin-top:0px
}
/* Never miss*/
.steps{
    width:88%;
    border:0px solid black;
    margin: auto;
    margin-top :60px;
    display:flex;
    padding-left:100px;
}
.StepsContent{
    padding: 10px;
    border:0px solid black;
    width:55%;
    padding: 5px;
    margin-top:70px
}
.StepsContent>h1{
    width:45%;
    font-size:38px;
    border:0px solid firebrick
}
.StepsContent>p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}
.steps>.hand>img{
    width:76%;
    border:0px solid black;
    margin:auto;
    
}
/* Quote */
#quote{
    margin-top:0px;
   
}
#quote>div{
    width:80%;
    border:0px solid;
    margin:auto ;
    display:flex;
}
#quote>div>img{
    width:37%;
    height:20%;
    margin-top: 50px;
}
#quote>div>div{
    width:100%;
    margin-left:15px;
    padding: 50px;
}
#quote>div>div>img{
    width:15%
}
/* Priority */
#prior{
    margin-top: 100px;
    border:0px solid black;
    background-image:url(https://buffer.com/static/background/circle-brush@2x.png),url(https://buffer.com/static/background/solid-gray-jagged-bg.svg);
    background-repeat: no-repeat;
    background-size:70px,cover;
    background-position:80% 30px;
    text-align: center;
    margin-top: -15px
}
#prior div{
    width: 45%;
    margin: auto;
    padding: 60px;
    line-height: 30px;
    text-align: center;
}
#prior>img{
    width:80%;
    margin: auto;
}
/* Speed */
#speed{
    width:88%;
    border:0px solid black;
    margin: auto;
    margin-top :60px;
    display:flex;
    gap: 50px;
    padding-left:100px;
    margin-bottom:150px
}
#speedcontent{
    padding: 10px;
    border:0px solid black;
    width:55%;
    padding: 5px;
    margin-top:70px
}
#speedcontent>h1{
    font-size:38px;
    border:0px solid firebrick
}
#speedcontent>p{
    width:70%;
    line-height: 28px;
    font-weight: 500;
}
#speed>.hand>img{
    width:90%;
    border:0px solid black;
    margin:auto;
    
}
#speedcontent>h1{
    font-size:30px;
    margin-top:70px;
    margin-right:100px
}
/* People in buffer */
#runningDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 30%;
    border:0px solid black;
    height: 280px;
    text-align: center;
    margin: 30px;
    position: relative;
    padding: 35px;
    border-radius: 15px ;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.circle{
    margin-top:-100px;
    border-radius: 100px;
    width: 120px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    /* position: absolute; */
}
.box p{
    margin: 30px;
}
.box p~img{
    width: 20%;
    color:grey;
    margin: 15px;
}
/* <!--People in Buffer--> */

#people{
    width:100%;
    margin-top: 100px;
    border:0px solid black;
    background-color:#2c4bff;
    color: white;
    background-image: url(https://buffer.com/static/background/triangle-green.svg), url(https://buffer.com/static/background/planet@2x.png), url(https://buffer.com/static/background/circle-pink.svg),url(https://buffer.com/static/background/circle-brush@2x.png), url(https://buffer.com/static/background/lines-orange.svg), url(https://buffer.com/static/background/triangle-yellow.svg);
    background-repeat: no-repeat;
    background-size: 40px, 180px, 60px ,40px,180px, 26px;
    background-position: 120px 75px, -55px 160px, 88px 105%,80% 30px, 105% 110px , 90% 246px;
}
#people div{
    width: 45%;
    margin: auto;
    padding: 60px;
    line-height: 55px;
    text-align: center;
}
#pink{
    background-color: #e97284 ;
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
}
#pink:hover{
    background-color: #d16273;
}


/* <!--bottom section--> */

#bottom{
    display: flex;
    width:98%;
    border:0px solid black;
    justify-content: space-around;
    margin-top :100px;
}
.tools{
    width:10%;
    border:0px solid black;
    /* text-align: center; */
    font-size: 18px;
    padding: 10px;
}
.tools>h4{
    font-weight: 800;
    border:0px solid black
}
.tools p{
    font-weight: 400;
    border:0px solid black

}
.tools p:hover{
cursor:pointer;
color:blue
}
.tools a{
    font-weight: 400;
    border:0px solid black;
    color:black;
    text-decoration: none;
}
.tools a:hover{
cursor:pointer;
color:blue;
}
#bufferImg{
    width:45%;
    border:0px solid black
}
.store{
    border:1px solid blue;
    background-color: white;
    color: blue;
    font-size: 10px;
    margin-left :10px;
    border-radius: 10px;
    padding: 10px;
}
.store:hover{
    background-color: rgb(217, 217, 243);
}
#new{
    font-size: 12px;
    line-height: 14px;
    color: rgb(0, 32, 214);
    padding: 5px 7px;
    background: rgb(213, 219, 255);
    border-radius: 100px;
    font-weight: 500;
}